@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


input{
    padding: 4px;
    margin: 4px;
}

button{
    padding: 6px 19px;
    margin: 4px;
}

#todo{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 0px 8px;
    margin-top: 8px;
}
#todo h4{
    color: gray;
}